.day-view-day-names {
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.day-names {
  height: 100%;

  &-container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    .day-name {
      width: 100%;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.day-name__date {
  font-size: 26px;
}
.day-name__name {
  font-size: 12px;
}
