$border-color: #e5e5e5;

.month {
  position: relative;
  .day-names {
    height: 31px;
    .day-name {
      height: 100%;
      line-height: 31px;
    }
  }
  .day-grid-month {
    height: calc(100% - 31px);
    .day-grid-month-row {
      border-top: 1px solid $border-color;
      .week-day {
        height: 100%;
        .grid-row {
          height: 100%;
          .day-grid-month-cell {
            display: inline-block;
            height: 100%;
            padding: 3px;
            & + .day-grid-month-cell {
              border-left: 1px solid $border-color;
            }

            .weekday-grid-date-decorator {
              display: inline-block;
              width: 26px;
              height: 26px;
              line-height: 26px;
              text-align: center;
              background-color: #135de6;
              border-radius: 50%;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
