.time-grid-time-column {
  .swell-calendar-time-grid-hour-rows {
    display: inline-block;
    position: relative;
    height: 100%;
    .swell-calendar-time-grid-time {
      position: absolute;
    }
  }
}
